<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>
    <title>Menu</title>
</head>
<body th:with="currentPage = 'ADMIN'">
<main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" id="menu">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">메뉴관리</h1>
        <!--<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>-->
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-3 d-md-block">
            <!--<div class="mb-3 text-right">
                <button type="button" class="btn btn-sm btn-primary createNode">추가</button>
                <button type="button" class="btn btn-sm btn-secondary">삭제</button>
            </div>-->
            <div ref="menuTree"></div>
        </div>
        <div class="col-md-9 ml-sm-auto col-lg-9 px-md-4">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="menuName">Menu Name</label>
                        <input type="text" class="form-control" id="menuName" v-model="params.menuName"
                               @change="changeNodeName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="menuDesc">Menu Desc</label>
                        <input type="text" class="form-control" id="menuDesc" v-model="params.menuDesc">
                    </div>
                </div>
                <div class="form-group">
                    <label for="menuUrl">Menu Url</label>
                    <input type="text" class="form-control" id="menuUrl" v-model="params.menuUrl">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="menuActiveCode">Menu Active Code</label>
                        <input type="text" class="form-control" id="menuActiveCode" v-model="params.menuActiveCode">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="roleMenu">Menu Role</label>
                        <select id="roleMenu" class="form-control" v-model="params.menuRole">
                            <option th:each="item : ${roles}" th:value="${item.roleCode}" th:text="${item.roleName}">roleName</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="parent">Parent</label>
                        <input type="text" class="form-control" id="parent" v-model="params.parent">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sortNo">Sort No</label>
                        <input type="text" class="form-control" id="sortNo" v-model="params.sortOrderNo">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="menuIcon">Menu Icon</label>
                        <input type="text" class="form-control" id="menuIcon" v-model="params.menuIcon">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="useFlag">Use Flag</label>
                        <select id="useFlag" class="form-control" v-model="params.useFlag">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" @click="saveMenu('post')">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>

<th:block layout:fragment="script">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var menu = {
            el: "#menu",
            data: function () {
                return {
                    params: {
                        id: null,
                        menuName: null,
                        menuDesc: null,
                        menuRole: null,
                        menuUrl: null,
                        menuActiveCode: null,
                        menuIcon: null,
                        parent: null,
                        useFlag: "Y",
                        sortOrderNo: null,
                        menuLevelNo: 0,
                        status: null
                    },
                    treeData: [],
                    menuTree: false
                }
            },
            watch: {
            },
            methods: {
                loadData: function () {
                    var that = this;

                    hams.ajax({
                        type: "get",
                        url:'/admin/menu/api',
                        success: function(data, textStatus, jqXhr){
                            that.createJstree(data);
                        },
                        error:function(xhr,status,error){
                            console.log(xhr)
                            if (error != null) {
                                bootbox.alert(xhr.responseJSON.error);
                            }
                        }
                    });
                },
                setData: function (node) {
                    console.log("setData", node);

                    this.params.id = node.original.id || node.id;
                    this.params.menuDesc = node.original.menuDesc;
                    this.params.menuName = node.text;
                    this.params.menuUrl = node.original.menuUrl;
                    this.params.menuRole = node.original.menuRole || 'ROLE_USER';
                    this.params.menuIcon = node.original.menuIcon;
                    this.params.menuActiveCode = node.original.menuActiveCode;
                    this.params.parent = node.parent;
                    this.params.sortOrderNo = node.original.sortOrderNo;
                    this.params.useFlag = node.original.useFlag != null ?  node.original.useFlag : "Y";
                    this.params.menuLevelNo = node.parents.length - 1;
                    this.params.status = node.status;
                },
                saveMenu: function (type, node) {
                    var that = this;
                    var param = this.params;

                    if (param.status == "create") {
                        // 생성된 id는 j1_1과 같이 시작하기 때문에 null 처리함
                        // jpa strategy = GenerationType.IDENTITY로 신규 ID 생성
                        param.id = null;
                    }

                    console.log(param);
                    hams.ajax({
                        type: type ? type : "post",
                        url: '/admin/menu/api',
                        data: JSON.stringify(param),
                        success: function (data, textStatus, jqXhr) {
                            bootbox.alert("저장되었습니다.", function () {
                                that.loadData();
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                            bootbox.alert(xhr.responseJSON.error, function () {
                                if (xhr.status == 401) {
                                    window.open("/login", "_self");
                                }
                            });
                        }
                    });
                },
                changeNodeName: function () {
                    var node = $(this.$refs.menuTree).jstree(true).get_node(this.params.id);
                    $(this.$refs.menuTree).jstree(true).rename_node(node, this.params.menuName);
                },
                createJstree: function (data) {
                    // console.log("createJstree", data);
                    var that = this;
                    this.treeData = data.data;

                    console.log(this.treeData)

                    if (this.menuTree) {
                        $(this.$refs.menuTree).jstree(true).settings.core.data = this.treeData;
                        $(this.$refs.menuTree).jstree(true).refresh();
                        return;
                    }

                    // 트리메뉴 초기화 여부
                    this.menuTree = true;

                    $(this.$refs.menuTree).jstree({
                        core: {
                            check_callback : true,
                            data: that.treeData
                        },
                        types: {
                            "max_depth": 3
                        },
                        plugins : ["types", "contextmenu" ],
                    }).on('select_node.jstree', function (evt, data, x) {
                        // console.log("select_node", data);
                        console.log("select_node");
                        that.setData(data.node);
                    }).on('loaded.jstree', function (evt, data) {
                        // $(this).jstree('open_all');
                        var rootNode = $(this).jstree(true).get_node("1");

                        if (rootNode) {
                            $(this).jstree(true).select_node("1");
                            $(this).jstree(true).open_node("1");
                        }
                    }).on('create_node.jstree', function (evt, data) {
                        // console.log("create_node", data);
                        console.log("create_node");
                        var parent = data.parent;
                        var childrenLength = $(this).jstree(true).get_node(parent).children.length;

                        data.node.original.sortOrderNo = childrenLength;
                        data.node.status = "create";
                        that.setData(data.node);
                    }).on('delete_node.jstree', function (evt, data) {
                        // console.log("delete_node", data);
                        // 신규행이 아니면 DB에서 삭제한다.
                        if (data.node.status != "create") {
                            that.saveMenu("delete", data);
                        }
                    }).on('rename_node.jstree', function (evt, data) {
                        console.log('rename_node')
                        var nodeId = data.node.id;
                        $(this).jstree(true).deselect_all();
                        $(this).jstree(true).select_node(nodeId);
                    }).on('edit_node.jstree', function (evt, data) {
                    }).on('move_node.jstree', function (evt, data) {
                    }).on('open_node.jstree', function (evt, data) {
                    });
                }
            },
            created: function () {
                this.loadData();
            },
            mounted: function () {
                var that = this;
            }
        }

        new Vue(menu);
        /*]]>*/
    </script>
</th:block>
</body>
</html>