<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/common :: commonFragment"></th:block>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Huneth</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.5.1/locales-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
</head>
<body>
    <!--/* header fragment 사용 */-->
    <th:block th:replace="fragments/header :: headerFragment('ADMIN')"></th:block>

    <!--/*
        content fragment 사용
        현재 layout을 사용하는 content fragment의 내용을 삽입한다.
    */-->
    <div class="container-fluid">
        <div class="row">
            <th:block layout:replace="~{fragments/adminNav :: adminNav}"></th:block>
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>

    <th:block layout:fragment="script"></th:block>
</body>
</html>