<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:replace="~{fragments/common :: commonFragment}"></th:block>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">HAMS</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <!--/* header fragment 사용 */-->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>

    <!--/*
        content fragment 사용
        현재 layout을 사용하는 content fragment의 내용을 삽입한다.
    */-->
    <th:block layout:fragment="content"></th:block>

    <!--/* footer fragment 사용 */-->
    <th:block th:replace="fragments/footer :: footerFragment"> </th:block>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/bootbox/bootbox.all.js}"></script>
</body>
</html>