<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>게시판</title>
</head>
<body th:with="currentPage = 'NOTICE'">
<main class="container" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">공지사항</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <form th:action="@{/board/form}" th:object="${board}" method="POST">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" name="bulletin_id" th:value="${param.bullletin_id}">
        <div class="form-group">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                Looks good!
            </div>
        </div>
        <div class="form-group">
            <label for="summernote" class="form-label">내용</label>
            <textarea class="form-control" id="summernote" rows="3" th:field="*{content}"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                Looks good!
            </div>
        </div>

        <div class="text-right">
            <a class="btn btn-light" href="#" th:href="@{/board/list}" role="button">취소</a>
            <button type="submit" class="btn btn-primary">확인</button>
        </div>
    </form>
</main>

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#summernote').summernote({
                height: 250,
            });
        });
    </script>
</th:block>

</body>
</html>